.panel{
	height: 100vh;
	display:inline;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.question-container{
	margin: bottom 0em;
	padding: 5px;
	width: 80vw;
	height: 10vh;
	text-align: center;
    font-size: large;
	
}

.option{	
	
	height: 10vh;
	border-radius: 25%;
    background-color: white;
    border: 0rem;
    font-size: medium;
	margin: 5%;
}

.option-container{
	display: flex;
	justify-content: space-around;
	margin: 0em;
	padding: 5px;
	width: 80vw;
	height: 20vh;
		
}

#result, #selected{
	margin: 10px;
	padding: 5px;
	width:80vw;
	height: 10vh;
	text-align: center;
	
}