.row {
    display: flex;
    flex-direction: row;
}
figcaption {
    text-align: center;
    color: red;
}
#add_on_list {-webkit-column-count: 2;
            -moz-column-count: 2;
            -o-column-count: 2;
            column-count: 2;}
#title {margin-bottom: 1em;}